.Button {
  padding: 0.8rem 1.2rem;
  border-radius: var(--radius);
  color: var(--background);
  box-shadow: 0 0 0px -3px var(--foreground);
  transition: box-shadow 300ms, background-color 300ms;
}

.Button:hover {
  box-shadow: 0 0 20px -3px var(--foreground);
}

.Button.contained:hover {
  background-color: #fff;
}

.Button.outlined:hover {
  background-color: color-mix(in srgb, var(--foreground) 20%, transparent);
}