.Button {
  padding: 12px 22px;
  border-radius: var(--radius);
  color: var(--background);
  box-shadow: 0 0 0px -3px var(--foreground), inset 0 0 0px -3px var(--foreground);
  transition: box-shadow 600ms, background-color 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  font-size: 18px;
}

.Button.Button.outlined {
  background-color: color-mix(in srgb, var(--foreground) 6%, transparent);
}

.Button.contained:hover {
  background-color: #fff;
  box-shadow: 0 0 32px -3px var(--foreground);
}

.Button.outlined:hover {
  box-shadow: 0 0 17px -3px var(--foreground), inset 0 0 9px -3px var(--foreground);
}