*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --border-size: 1px;
  --spotlight-size: 320px;
	--background: #181740;
  --foreground: rgb(129 134 255);
  --radius: 14px;
  --backup-border: var(--background);
  --glow-highlight: rgba(237, 118, 255, 0.5);
  --glow-highlight-brightest: color-mix(in srgb,var(--glow-highlight) 30%, #fff);
  /* --glow-highlight-brightest: #fffd; */

  --hover: color-mix(in srgb, color-mix(in srgb,var(--foreground) 20%, #fff) 50%, transparent);
  --slight-hover: color-mix(in srgb, var(--foreground) 30%, transparent);
  --slightest-hover: color-mix(in srgb, var(--foreground) 10%, transparent);

  --glow-i-gradient-hard: radial-gradient(
    calc(var(--spotlight-size)) calc(var(--spotlight-size)) at
    calc(var(--x, 0) * 1px)
    calc(var(--y, 0) * 1px),
    var(--glow-highlight-brightest) 0%, var(--glow-highlight) 40%, transparent 100%
  );

  --glow-i-gradient: radial-gradient(
    var(--spotlight-size) var(--spotlight-size) at
    calc(var(--x, 0) * 1px)
    calc(var(--y, 0) * 1px),
    var( --glow-highlight ), transparent
  );

  --glow-i-gradient-soft: radial-gradient(
    var(--spotlight-size) var(--spotlight-size) at
    calc(var(--x, 0) * 1px)
    calc(var(--y, 0) * 1px),
    color-mix(in srgb, var( --glow-highlight ) 6%, transparent), transparent
  );
}

.glow-text {
  color: transparent;
  background-color: var(--foreground);
  background-image: var(--glow-i-gradient-hard);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-clip: text;
}

.glow-borders {
  position: relative;
}

.glow-inner,
.glow-outer::before,
.glow-borders::before,
.glow-hr,
.glow-vr,
.glow-hr::before,
.glow-vr::before {
  background-attachment: fixed;
  background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
  background-position: 50% 50%;
}

.glow-hr, .glow-vr {
  position: relative;
  background-color: var(--foreground);
  background-image: var(--glow-i-gradient-hard)
}

.glow-vr {
  width: var(--border-size);
}

.glow-hr {
  height: var(--border-size);
}

.glow-inner {
  background-image: var(--glow-i-gradient-soft)
}

.glow-borders::before,
.glow-outer::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: calc(var(--border-size) * -1);
  border: var(--border-size) solid transparent;
  border-radius: var(--radius);
  mask:
    linear-gradient(transparent, transparent),
    linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}

.glow-borders::before {
  background-color: color-mix(in srgb, var( --foreground ) 75%, transparent) ;
  background-image: var(--glow-i-gradient-hard);
}

.glow-outer::before {
  background-image: var(--glow-i-gradient);
  inset: -3px;
  border-width: calc( 3 * var(--border-size) );
}

.glow-outer {
  position: absolute;
  inset: 0;
  will-change: filter;
  border-radius: var(--radius);
  border-width: calc(var(--border-size) * 20);
  /* filter: blur(4px); */
  background: none;
  pointer-events: none;
}

*:has(.glow-outer) {
  position: relative;
}

.glow-hr::before, .glow-vr::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: calc(-0.5 * var(--border-size));
  background-image: var(--glow-i-gradient);
  /* filter: blur(calc(var(--border-size) * 5)); */
}

.glow-full {
  background-color: var(--foreground);  
  background-image: var(--glow-i-gradient-hard);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

::selection {
  color: var(--background);
  background-color: var(--foreground);
}

::-moz-selection {
  color: var(--background);
  background-color: var(--glow-highlight);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
}

p code {
  display: inline-block;
  background-color: color-mix(in srgb, var(--foreground) 20%, transparent);
  padding: 2px 7px;
  border-radius: 6px;
}

.planet code {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 7px;
  border-radius: 6px;
  color: #191b49;
  font-size: 13px;
}

.second-column {
  flex: 5;
  padding: 4px;
  max-width: 450px;
}

.codeblock {
  white-space: pre-wrap;
  font-size: 14px;
  width: 550px;
}

.first-column {
  flex: 4;
  padding-right: 20px;
}

section h1, .planet h1 {
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 1.12;
}

section p, .planet p {
  line-height: 1.4;
  margin-bottom: 1.5rem;
  color: color-mix(in srgb, var(--foreground), white);
}

svg.chevron {
  margin-top: 1px;
  transform: rotate(-90deg);
  margin-right: 4px;
  margin-left: 0 !important;
  opacity: 0.6;
}

.copy-wrapper {
  position: absolute;
  right: 0px;
  opacity: 0;
  cursor: pointer;
}

*:has(.copy-wrapper):hover > .copy-wrapper {
  opacity: 1;
}

.selling-points ul {
  align-items: center;
  cursor: default;
  display: flex;
  flex-flow: row wrap;

  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.selling-points li {
  background: rgba(33, 33, 80, .631);
    border: 1px solid hsla(0, 0%, 100%, .267);
    border-radius: 14px;
    color: var(--background);
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
    margin: 6px;
    padding: 9px 21px;

    background-color: var(--foreground);  
    background-image: var(--glow-i-gradient-hard);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 50% 50%;
}