.features-section .img svg {
  left: -30px;
  position: absolute;
  top: 6px;
}

.features-section .img {
  position: relative;
}

.features-section > div {
  gap: 20px;
}

.features-section .feature {
  flex: 1;
}

.features-section p {
  margin-bottom: 0;
}

.features-section > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}

.features-section {
  margin-top: 30px;
}
